<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<p> <%= link_to 'go HOME child', home_path %> </p>

<h1><%= @aboutName %></h1>
<h1><%= @message %></h1>
<h1><%= @id %></h1>
<% 1.upto(5) do |i| %>
    <p><%= i %></p>
<% end %>
